調査: Cookieについて

## マジッククッキー

https://ja.wikipedia.org/wiki/%E3%83%9E%E3%82%B8%E3%83%83%E3%82%AF%E3%82%AF%E3%83%83%E3%82%AD%E3%83%BC

マジッククッキーとは、通信プログラムにおいて

- サーバ側がクライアントに発行する
- クライアント側は必要ならば通信する時にそれを送る
- クライアント側はクッキーの値の意味を解読できない(できる必要がない)

ようなバイト列データのこと。


## HTTPクッキー

https://ja.wikipedia.org/wiki/HTTP_cookie

HTTPにおけるクッキー。
「サーバ」がクッキーを発行し、クライアントがクッキーを受け取る。
ここで言う「サーバ」はHTTPサーバとは限らない。
むしろHTTPサーバが直接HTTPクッキーを発行するのは特別な対応のように思われる。

RFC: https://tex2e.github.io/rfc-translater/html/rfc6265.html



## クッキーのデータ構造

```


 set-cookie-header = "Set-Cookie:" SP set-cookie-string
 set-cookie-string = cookie-pair *( ";" SP cookie-av )
 cookie-pair       = cookie-name "=" cookie-value
 cookie-name       = token
 cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )
 cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                       ; US-ASCII characters excluding CTLs,
                       ; whitespace DQUOTE, comma, semicolon,
                       ; and backslash
 token             = <token, defined in [RFC2616], Section 2.2>
        

 cookie-av         = expires-av / max-age-av / domain-av /
                     path-av / secure-av / httponly-av /
                     extension-av
 expires-av        = "Expires=" sane-cookie-date
 sane-cookie-date  = <rfc1123-date, defined in [RFC2616], Section 3.3.1>
 max-age-av        = "Max-Age=" non-zero-digit *DIGIT
                       ; In practice, both expires-av and max-age-av
                       ; are limited to dates representable by the
                       ; user agent.
 non-zero-digit    = %x31-39
                       ; digits 1 through 9
 domain-av         = "Domain=" domain-value
 domain-value      = <subdomain>
                       ; defined in [RFC1034], Section 3.5, as
                       ; enhanced by [RFC1123], Section 2.1
 path-av           = "Path=" path-value
 path-value        = <any CHAR except CTLs or ";">
 secure-av         = "Secure"
 httponly-av       = "HttpOnly"
 extension-av      = <any CHAR except CTLs or ";">
```

webservでのcookie対応は基本ヘッダの解析のみのはず。
レビュー用にcookieを使った何かを行うCGIアプリを用意し、それが正しく動作することをデモすることになりそう。